@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

@theme {
  --color-text-main: #03542D;
  --color-text-second: #057F44;
  --color-brand-1: #FF8800;
  --color-brand-2: #D17307;
  --background-image-brand-btn: linear-gradient(180deg, var(--color-brand-1), var(--color-brand-2));
}

@layer base {
  body {
    color: #5E5E5E;
    @apply font-sans;
  }

  h1 {
    @apply text-2xl md:text-4xl font-bold text-text-main;
  }

  h2 {
    @apply text-xl md:text-2xl font-semibold text-text-main;
  }

  h3 {
    @apply text-lg md:text-xl font-semibold text-text-main;
  }

  h4 {
    @apply text-base md:text-lg font-semibold text-text-main;
  }

  h5 {
    @apply text-sm md:text-base font-semibold text-text-main;
  }

  h6 {
    @apply text-xs md:text-sm font-semibold text-text-main;
  }

  p {
    @apply text-sm md:text-base leading-relaxed;
  }
}

@layer components {
  .btn-primary {
    @apply capitalize font-sans cursor-pointer inline-flex items-center justify-center rounded-lg px-8 py-2 bg-brand-btn font-semibold leading-[150%] text-white text-sm shadow-sm transition hover:brightness-105 active:brightness-95;
  }
}

@layer components {
  .container-bs {
    width: 100%;
    margin-inline: auto;
    padding-inline: 16px;
    /* gutter mobile */
  }

  @media (min-width: 640px) {
    .container-bs {
      max-width: 540px;
      padding-inline: 24px;
    }
  }

  @media (min-width: 768px) {
    .container-bs {
      max-width: 720px;
    }
  }

  @media (min-width: 1024px) {
    .container-bs {
      max-width: 960px;
      padding-inline: 32px;
    }
  }

  @media (min-width: 1280px) {
    .container-bs {
      max-width: 1140px;
    }
  }

  @media (min-width: 1536px) {
    .container-bs {
      max-width: 1320px;
    }
  }
}
